/* index  */
#Main {
  height: 70vh !important;
  width: 100% !important;
  background: url(bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0.5rem !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

@media (orientation: landscape) {
  #Main h3 {
    margin: 0 19rem 2rem 0 !important;
  }

  #Main h6 {
    margin: 0 6rem 2rem 0 !important;
  }
}

@media (orientation: portrait) {
  #Main h3 {
    margin: 0 6rem 2rem 8rem;
  }

  #Main h6 {
    margin: 0 0 2rem 2rem !important;
  }
}

#Services h4 {
  margin: 0.5rem 0 0 0 !important;
}

#Services {
  height: min-content !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#Services .cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 100%;
}

#Services .cards .card {
  margin-top: 1rem;
  width: 23rem !important;
  height: 26rem;
  padding: 0.5rem;
}

#Services .cards .card img {
  height: 12rem;
  width: 22rem;
}

#Products {
  height: min-content !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#Products h4 {
  margin-top: 1rem;
}

@media (orientation: landscape) {
  #Products .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
  }

  #Products .cards .card {
    margin-top: 1rem;
    width: 45% !important;
    height: 17rem;
    padding: 0.5rem;
  }
}

@media (orientation: portrait) {
  #Products .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: min-content;
    width: 100%;
  }

  #Products .cards .card {
    margin-top: 1rem;
    width: 100% !important;
    height: min-content;
    padding: 0.5rem;
  }
}

#Products .cards .card .card-header {
  font-weight: bold;
}

#Contact h4 {
  margin-top: 1rem;
}

#Contact {
  margin-top: 1rem;
  height: min-content;
  padding: 0.5rem;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* products  */
/* premium_notebooks  */
#Pre_Note {
  height: min-content;
  width: 100vw;
}

#Pre_Main {
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (orientation: landscape) {
  #Pre_Main .cards {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #Pre_Main .cards .card {
    margin: 10px;
    width: 90%;
    height: min-content !important;
  }
  #Pre_Main .cards .card img {
    height: 14rem !important;
  }
  #Pre_Main .cards .card .list-group .item-1 {
    height: 4rem;
  }
  #Pre_Main .cards .card .list-group .item-2 {
    height: 4rem;
  }
  #Pre_Main .cards .card .list-group .item-3 {
    height: min-content;
  }
  #Pre_Main .cards .card .list-group .item-4 {
    height: 2.5rem;
  }
}

@media (orientation: portrait) {
  #Pre_Main .cards {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  #Pre_Main .cards .card {
    margin: 10px;
    width: 90%;
    height: min-content !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  #Pre_Main .cards .card .card-body {
    padding: 0 !important;
  }
  #Pre_Main .cards .card img {
    height: 14rem !important;
  }
  #Pre_Main .cards .card .list-group .item-1 {
    height: min-content;
  }
  #Pre_Main .cards .card .list-group .item-2 {
    height: min-content;
  }
  #Pre_Main .cards .card .list-group .item-3 {
    height: min-content;
  }
  #Pre_Main .cards .card .list-group .item-4 {
    height: min-content;
  }
}

/* elegant pens  */
#Pens_Data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (orientation: landscape) {
  #Pens_Data .cards {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #Pens_Data .cards .card {
    margin: 10px;
    width: 90%;
    height: min-content !important;
  }
  #Pens_Data .cards .card img {
    height: 14rem !important;
  }
  #Pens_Data .cards .card .list-group .item-1 {
    height: min-content;
  }
  #Pens_Data .cards .card .list-group .item-2 {
    height: 4rem;
  }
  #Pens_Data .cards .card .list-group .item-3 {
    height: min-content;
  }
  #Pens_Data .cards .card .list-group .item-4 {
    height: 2.5rem;
  }
}

@media (orientation: portrait) {
  #Pens_Data .cards {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  #Pens_Data .cards .card {
    margin: 10px;
    width: 90%;
    height: min-content !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  #Pens_Data .cards .card .card-body {
    padding: 0 !important;
  }
  #Pens_Data .cards .card img {
    height: 14rem !important;
  }
  #Pens_Data .cards .card .list-group .item-1 {
    height: min-content;
  }
  #Pens_Data .cards .card .list-group .item-2 {
    height: min-content;
  }
  #Pens_Data .cards .card .list-group .item-3 {
    height: min-content;
  }
  #Pens_Data .cards .card .list-group .item-4 {
    height: min-content;
  }
}

/* customize stationery  */

#Sta_Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (orientation: landscape) {
  #Sta_Main .cards {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #Sta_Main .cards .card {
    margin: 10px;
    width: 90%;
    height: min-content !important;
  }
  #Sta_Main .cards .card img {
    height: 14rem !important;
  }
  #Sta_Main .cards .card .list-group .item-1 {
    height: min-content;
  }
  #Sta_Main .cards .card .list-group .item-2 {
    height: 4rem;
  }
  #Sta_Main .cards .card .list-group .item-3 {
    height: min-content;
  }
  #Sta_Main .cards .card .list-group .item-4 {
    height: 2.5rem;
  }
}

@media (orientation: portrait) {
  #Sta_Main .cards {
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  #Sta_Main .cards .card {
    margin: 10px;
    width: 90%;
    height: min-content !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  #Sta_Main .cards .card .card-body {
    padding: 0 !important;
  }
  #Sta_Main .cards .card img {
    height: 14rem !important;
  }
  #Sta_Main .cards .card .list-group .item-1 {
    height: min-content;
  }
  #Sta_Main .cards .card .list-group .item-2 {
    height: min-content;
  }
  #Sta_Main .cards .card .list-group .item-3 {
    height: min-content;
  }
  #Sta_Main .cards .card .list-group .item-4 {
    height: min-content;
  }
}
